<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.andan.android.tvbrowser.sonycontrolplugin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SonyControlApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".plugin.TVBrowserSonyIPControlPlugin"
            android:exported="true"
            android:label="3"
            android:permission="org.tvbrowser.permission.BIND_PLUGIN">
            <intent-filter>
                <action android:name="org.tvbrowser.intent.action.PLUGIN" />
            </intent-filter>
        </service>
        <provider
            android:name=".ui.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>